body {
  background-color: lightgray;
}

.timer {
  font-size: 15rem;
}

h2 {
  text-align: center;
}

.btn {
  margin: 3px;
}

.start-reset {
  margin-bottom: 4px;
}

#blue {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

#red {
  background-color: red;
  border-radius: 10px;
}

.box {
  background-color: whitesmoke;
  border-radius: 4%;
  margin-right: 5px;
}


#plus-img {
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 20px;
}
